
.container{

}
.container p{
    font-size: 20px;
    font-weight:bold;
    color: rgb(0, 146, 24);
    margin-bottom: 10px;
}
.container textarea{
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid rgb(34, 0, 225);
    word-wrap: break-word;
    border-radius: 4px;
}
.container button{
    width: 125px;
    margin: 4px 2px 15px 1px;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid rgb(34, 4, 204);
    border-radius: 3px;
    transition: auto;
}
.container button:hover{
    color: black;
    background-color: rgb(0, 146, 24);
}

.output{

}
.outputHeading{
    letter-spacing: 1px;;
    font-size: 17px;
    font-weight: bold;
    color: rgb(65, 6, 226);
}
.outputArea{
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    margin: 10px auto;
    width: 290px;
    border: 1px solid  rgb(0, 102, 255);
    height: 100px;
}